.body {
  background-color: rgb(40, 42, 53);
  margin: 0;
  margin-bottom: 60px;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
}

.title {
  color: rgb(239, 230, 230);
  text-align: center;
  font-family: Source sans pro;
  font-weight: 700;
  font-size: 70px;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 7px;
}

.subtitle {
  color: rgb(235, 171, 180);
  text-align: center;
  font-family: Source sans pro;
  font-size: 30px;
  font-weight: 700;
}

.levels {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  padding-top: 30px;
  justify-content: center;
  column-gap: 30px;
  row-gap: 60px;
  font-family: Source sans pro;
  font-weight: 700;
  font-size: 22px;
}


.low-level {
  display: grid;
  justify-content: center;
  background-color: rgb(30, 30, 30);
  border-radius: 8px;
  padding-top: 38px;
}

.middle-level {
  display: grid;
  justify-content: center;
  background-color: rgb(30, 30, 30);
  border-radius: 8px;
  padding-top: 38px;
}

.high-level {
  display: grid;
  justify-content: center;
  background-color: rgb(30, 30, 30);
  border-radius: 8px;
  padding-top: 38px;
}

.levels button {
  font-family: Source sans pro;
  font-weight: 700;
  font-size: 24px;
  color: rgb(242, 210, 213);
  background-color: rgb(8, 159, 104);
  text-align: center;
  line-height: 25px;
  border-width: 0;
  border-radius: 1000px;
  padding-right: 44px; padding-left: 44px;
  padding-top: 13px; padding-bottom: 13px;
  margin-left: 75px;
  margin-bottom: 24px;
  transition: 200ms;
  cursor: pointer;
  width: 190px;
  height: 80px;
}

.levels button:hover {
  opacity: 0.85;
}

.levels button:active {
  opacity: 0.75;
}

p {
  margin: 0;
}

.low-level-content {
  color: rgb(199, 176, 166);
  background-color: rgb(30, 30, 30);
  text-align: center;
  line-height: 25px;
  border-width: 0;
  padding: 20px;
  padding-top: 12px;
  padding-bottom: 25px;
  border-radius: 8px;
}

.middle-level-content {
  color: rgb(199, 176, 166);
  background-color: rgb(30, 30, 30);
  text-align: center;
  line-height: 25px;
  border-width: 0;
  padding: 20px;
  padding-top: 12px;
  padding-bottom: 25px;
  border-radius: 8px;
}

.high-level-content {
  color: rgb(199, 176, 166);
  background-color: rgb(30, 30, 30);
  text-align: center;
  line-height: 25px;
  border-width: 0;
  padding: 20px;
  padding-top: 12px;
  padding-bottom: 25px;
  border-radius: 8px;
}



@media (max-width: 1150px) {
  .title {
    font-size: 56px;
  }

  .subtitle {
    font-size: 26px;
  }

  .levels {
    grid-template-columns: 280px 280px 280px;
    font-size: 19px;
  }

  .levels button {
    margin-left: 65px;
    font-size: 19px;
    width: 150px;
    height: 72px;
    padding-right: 34px; padding-left: 34px;
    padding-top: 12px; padding-bottom: 12px;
    line-height: 22px;
  }
}

@media (max-width: 950px) {
  .title {
    font-size: 54px;
  }

  .subtitle {
    font-size: 25px;
  }

  .levels {
    grid-template-columns: 280px 280px;
    font-size: 19px;
  }

  .levels button {
    margin-left: 65px;
    font-size: 19px;
    width: 150px;
    height: 72px;
    padding-right: 34px; padding-left: 34px;
    padding-top: 12px; padding-bottom: 12px;
    line-height: 22px;
  }
}

@media (max-width: 650px) {
  .title {
    font-size: 38px;
  }

  .subtitle {
    font-size: 22px;
    padding-right: 30px; padding-left: 30px;
  }

  .levels {
    grid-template-columns: 300px;
    font-size: 19px;
  }

  .levels button {
    margin-left: 71px;
    font-size: 21px;
    width: 158px;
    height: 78px;
    padding-right: 34px; padding-left: 34px;
    padding-top: 12px; padding-bottom: 12px;
    line-height: 22px;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 36px;
    padding-bottom: 0;
  }

  .subtitle {
    font-size: 21px;
    padding-right: 30px; padding-left: 30px;
  }

  .levels {
    grid-template-columns: 280px;
    font-size: 18px;
  }

  .levels button {
    margin-left: 65px;
    font-size: 19px;
    width: 150px;
    height: 74px;
    padding-right: 34px; padding-left: 34px;
    padding-top: 12px; padding-bottom: 12px;
    line-height: 22px;
  }
}

@media (max-width: 350px) {
  .title {
    font-size: 34px;
    padding-bottom: 0;
  }

  .subtitle {
    font-size: 19px;
    padding-right: 30px; padding-left: 30px;
  }

  .levels {
    grid-template-columns: 260px;
    font-size: 17px;
  }

  .levels button {
    margin-left: 67px;
    font-size: 15px;
    width: 126px;
    height: 66px;
    padding-right: 30px; padding-left: 30px;
    padding-top: 12px; padding-bottom: 12px;
    line-height: 22px;
  }
}