.body {
  margin: 0;
  margin-bottom: 100px;
}

.content {
  font-family: Source sans pro;
  font-weight: 400;
  display: grid;
  padding-top: 105px;
  padding-left: 260px;
  padding-right: 65px;
  z-index: 1;
}

h1 {
  font-family: Source sans pro;
  font-weight: 400;
  font-size: 45px;
  margin-bottom: 30px;
}

h2 {
  font-family: Source sans pro;
  font-weight: 400;
  font-size: 34px;
  margin-bottom: 20px;
  margin-top: 0;
}

p {
  font-family: Source sans pro;
  font-weight: 400;
  font-size: 22px;
  margin-top: 14px;
  margin-bottom: 14px;
  line-height: 38px;
}

.content-buttons {
  display: flex;
  justify-content: space-between;
}

.content-buttons button {
  color: white;
  background-color: rgb(13, 171, 113);
  border-width: 0;
  border-radius: 8px;
  font-family: Source sans pro;
  font-weight: 600;
  font-size: 22px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 120ms;
}

.content-buttons button:hover {
  opacity: 0.85;
}

hr {
  margin: 30px -10px;
  border: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-top-color: rgb(218, 218, 218);
}

.mark {
  color: crimson;
  background-color: rgba(219, 216, 216, 0.4);
  padding-right: 4px;
  padding-left: 4px;
}

.code {
  color: rgb(215,209,150);
  background-color: rgb(30, 30, 30);
  padding: 24px 26px;
  margin: 26px 0;
  border-radius: 7px;
  line-height: 30px;
}

.var-color {
  color: rgb(66,145,198);
}

.text-color {
  color: rgb(162, 116, 97);
}

.def-color {
  color: rgba(37,86,158,255);
}

.output {
  color: rgb(220, 212, 212);
}

@media (max-width: 900px) {
  .content {
    padding-left: 35px;
    padding-right: 35px;
  }

  p {
    font-size: 24px;
    line-height: 42px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 38px;
  }
}

@media (max-width: 580px) {
  .content {
    padding-left: 30px;
    padding-right: 30px;
  }

  p {
    font-size: 23px;
    line-height: 40px;
  }

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 34px;
  }
}

@media (max-width: 450px) {
  .content {
    padding-left: 30px;
    padding-right: 30px;
  }

  p {
    font-size: 18px;
    line-height: 35px;
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 28px;
    margin-bottom: 14px;
  }

  .content-buttons button {
    font-size: 15px;
  }
}

@media (max-width: 370px) {
  .content {
    padding-left: 30px;
    padding-right: 30px;
  }

  p {
    font-size: 17px;
    line-height: 32px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .content-buttons button {
    font-size: 15px;
  }
}