.header {
  display: flex;
  position: fixed;
  background-color: white;
  height: 75px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);;
}

.left-button-div button {
  font-family: Source sans pro;
  font-weight: 600;
  font-size: 20px;
}

.home-button {
  font-size: 17px;
  color: white;
  background-color: rgb(13, 171, 113);
  margin-left: 40px;
  margin-right: 8px;
  padding: 14px 20px;
  text-align: center;
  border-width: 0;
  border-radius: 40px;
  cursor: pointer;
  transition: 200ms;
}

.home-button:hover {
  opacity: 0.9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.home-button:active {
  opacity: 0.8;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.lessons-button {
  font-size: 17px;
  color: black;
  background-color: white;
  margin-left: 8px;
  padding: 14px 25px;
  border-width: 0;
  border-radius: 40px;
  cursor: pointer;
  transition: 100ms;
}

.lessons-button:hover {
  color: white;
  background-color: rgb(13, 171, 113);
}

.lessons-button:active {
  opacity: 0.9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.right-button-div button {
  font-family: Source sans pro;
  font-weight: 600;
  font-size: 20px;
}

.learn-button {
  font-size: 17px;
  color: black;
  background-color: white;
  padding: 14px 22px;
  border-width: 0;
  border-radius: 40px;
  cursor: pointer;
  transition: 100ms;
}

.learn-button:hover {
  color: white;
  background-color: rgb(13, 171, 113);
}

.learn-button:active {
  opacity: 0.9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.libraries-button {
  font-size: 17px;
  color: black;
  background-color: white;
  margin-right: 8px;
  padding: 14px 25px;
  border-width: 0;
  border-radius: 40px;
  cursor: pointer;
  transition: 100ms;
}

.libraries-button:hover {
  color: white;
  background-color: rgb(13, 171, 113);
}

.libraries-button:active {
  opacity: 0.9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.projects-button {
  font-size: 17px;
  color: black;
  background-color: white;
  margin-right: 4px;
  padding: 14px 25px;
  border-width: 0;
  border-radius: 40px;
  cursor: pointer;
  transition: 100ms;
}

.projects-button:hover {
  color: white;
  background-color: rgb(13, 171, 113);
}

.projects-button:active {
  opacity: 0.9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.why-button {
  font-size: 17px;
  color: black;
  background-color: white;
  margin-right: 40px;
  padding: 14px 24px;
  border-width: 0;
  border-radius: 40px;
  cursor: pointer;
  transition: 100ms;
}

.why-button:hover {
  color: white;
  background-color: rgb(13, 171, 113);
}

.why-button:active {
  opacity: 0.9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}