.sidebar {
  background-color: rgb(230, 233, 235);
  width: 220px;
  height: 100%;
  display: flex;
  position: fixed;
  flex-direction: column;
  overflow: auto;
  z-index: 99;
  margin-top: 75px;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar button {
  border-width: 0;
  background-color: rgb(230, 233, 235);
  color: black;
  font-family: Source sans pro;
  font-weight: 400;
  font-size: 17px;
  text-align: left;
  padding-left: 15px; padding-right: 16px;
  padding-top: 3px; padding-bottom: 3px;
  cursor: pointer;
  transition: 50ms;
}

.sidebar button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.sidebar-titles {
  border-width: 0;
  background-color: rgb(230, 233, 235);
  color: black;
  font-family: Source sans pro;
  font-weight: 700;
  font-size: 22px;
  text-align: left;
  padding-left: 15px;
  margin-top: 28px; margin-bottom: 17px;
}

.active-button {
  color: white!important;
  background-color: rgb(13, 171, 113)!important;
}

@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
}